{
  "env": {
    "browser": true,
    "es6": true,
    "node": true,
    "jest": true
  },
  "globals": {
    "i18n": true,
    "buildRoutePath": true,
    "buildUrlPath": true,
    "guid": true,
    "Loader": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "parser": "babel-eslint",
  "parserOptions": {
    "ecmaFeatures": {
      "experimentalObjectRestSpread": true,
      "jsx": true
    },
    "sourceType": "module"
  },
  "plugins": [
    "react",
    "html"
  ],
  "rules": {
    "array-bracket-spacing": [
      "error",
      "never"
    ],
    "block-spacing": [
      "error",
      "never"
    ],
    "camelcase": "error",
    "comma-dangle": [
      "error",
      "never"
    ],
    "complexity": [
      "error",
      10
    ],
    "indent": "off",
    "linebreak-style": [
      "error",
      "unix"
    ],
    "jsx-quotes": [
      "error",
      "prefer-single"
    ],
    "no-multi-spaces": "error",
    "no-trailing-spaces": "warn",
    "no-undef": [
      "error"
    ],
    "no-unneeded-ternary": "error",
    "no-unused-vars": [
      "warn"
    ],
    "no-useless-return": "error",
    "no-var": [
      "error"
    ],
    "no-whitespace-before-property": "error",
    "quotes": [
      "error",
      "single"
    ],
    "object-curly-spacing": [
      "error",
      "never"
    ],
    "react/prop-types": [
      0
    ],
    "semi": [
      "error",
      "always"
    ],
    "space-in-parens": [
      "error",
      "never"
    ],
    "yoda": "error",
    "no-else-return": "error",
    "no-debugger": "off",
    "no-console": "off",
    "react/no-set-state": [
      2
    ],
    "react/self-closing-comp": [
      "error",
      {
        "component": true,
        "html": true
      }
    ],
    "react/jsx-boolean-value": [
      1
    ],
    "react/jsx-key": [
      2
    ],
    "react/react-in-jsx-scope": [
      2
    ],
    "react/no-array-index-key": [
      1
    ]
  }
}
